.App {
  #text-align: center;
}

.App-header {
  background-color: #222;
  margin-bottom: 20px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.avatar {
  margin: 10px;
  height: 100px;
  width: 100px;
  float: left;
}

.card div {
  margin-top: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 32%;
  margin: 5px;
  float: left;
  position: relative;
}

.container {
  float: left;
}

.container p {
  margin-top: -15px;
  font: italic 15px/20px arial, sans-serif
}

.close {
  color: red;
  font: 15px/100% arial, sans-serif;
  position: absolute;
  right: 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 5px;
}

.edit {
  color: #4CAF50;
  font: 15px/100% arial, sans-serif;
  position: absolute;
  right: 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 25px;
}

.save {
  color: #4CAF50;
  font: 15px/100% arial, sans-serif;
  position: absolute;
  right: 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 5px;
}
